/* Define a CSS variable */
:root {
    --main-color: #384aeb;
    --gray-color: #EEEEEE;
    --black-color: #222222;
    --font-oswald: "Oswald",sans-serif
}

ul li a.active {
    color: var(--main-color) !important;
}

/* Custom CSS for Hover Effect */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Custom CSS to hide the dropdown arrow */
.navbar-nav .nav-item.dropdown .nav-link::after {
    display: none !important;
}

button {
    border-color: var(--gray-color) !important;
    color: var(--black-color) !important;
}

button:hover {
    border-color: var(--main-color) !important;
    background-color: transparent !important;
}

.hero-banner::before {
    content: "";
    display: block;
    width: 5%;
    height: 100%;
    background: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
}

.hero-banner {
    background: #F1F6F7 !important;
    position: relative;
    margin-bottom: 10px;
}

@media (min-width: 991px) {
    .hero-banner::before {
        width: 35%;
    }
}

@media (min-width: 575px) {
    .hero-banner::before {
        width: 20%;
    }
}



.pt_60px {
    padding-top: 60px;
}

.hero_banner_img {
    position: relative;
    top: 1px;
}


.hero-banner_content h1,
.hero-banner_content h4 {
    font-family: "Roboto", sans-serif;
}



a.button {
    display: inline-block;
    border: 1px solid var(--main-color);
    border-radius: 30px;
    color: var(--black-color);
    font-weight: 500;
    padding: 12px 41px;
    color: white;
    background-color: var(--main-color);
    transition: all .4s ease;
}

a.button:hover {
    background-color: transparent !important;
    border-color: var(--main-color) !important;
    color:var(--black-color);
}

a {
    text-decoration: none;
}

.card {
    position: relative;
    overflow: hidden;
}

/* نص الظهور عند تحريك الماوس */
.card .card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* خلفية داكنة للنص */
    color: #fff;
    /* لون النص */
    opacity: 0;
    /* يظهر النص بداية بشكل شفاف */
    transition: opacity 0.6s ease-in-out;
    /* تأثير التحول */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* عند تحريك الماوس يظهر النص */
.card:hover .card-img-overlay,
.card:hover .disc_text {
    opacity: 0.9;
}

.disc_text {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 60%;
    background: var(--main-color);
    /* خلفية داكنة للنص */
    color: #fff;
    /* لون النص */
    opacity: 0;
    /* يظهر النص بداية بشكل شفاف */
    transition: opacity 0.3s ease-in-out;
    /* تأثير التحول */
    padding: 10px;
    margin: 0;
}
.title {
    font-family: var(--font-oswald);
}

.pb-60px {
    padding-bottom: 60px;
}

.title h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
}

.title .border-bottom {
    border-bottom-color: var(--main-color) !important;
    border-bottom-width: 2px !important;
}

